<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Anime Recommendations</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="static/bootstrap.min.css" media="screen">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
<script src="../bower_components/respond/dest/respond.min.js"></script>
<![endif]-->

<!-- Override CSS file - add your own CSS rules -->
<link rel="stylesheet" href="/static/styles.css">

<!-- Hide extra info until hovered -->
<style>
.hover-content {display:none;}
.hover-parent:hover .hover-content {display:block;}
</style>


<body>
  <div id="page-wrap">
    <h1 style="text-align:center"> Anime Recommendations </h1>
    <h5 style="text-align:center"> Find your next favorite anime </h5>
  </div>
  {% if not results %}
  <!-- Input your MyAnimeList Account name to pull your data -->
  <div id="page-wrap">
    <center> Generate recommendations from your anime ratings on MyAnimeList </center>
    <form method="POST"  action="{{ url_for('index') }}">

      <!-- Username input -->
      <div class="input-group">
          <span class="input-group-addon">MyAnimeList Username:</span>
          <input type="text" class="form-control" name="user_id">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Submit</button>
          </span>
      </div>

      <!-- Master Filters -->
      <div class="checkbox">
        <div class="row">
          <div class="col-xs-4">
            <label>
              <input type="checkbox" name="genre" id="genre_filter"> Filter by genre
            </label>
          </div>
          <div class="col-xs-8" align=right>
            <label>
              <input type="checkbox" name="related" id="related"> Filter related anime
            </label>
          </div>
        </div>
      </div>
      <!-- Genre Filters -->
      <div id="genre_filter_div" style="display:none"> 
        {% for idx,genre in genres %}
            {% if idx%4==0 %} <div class="row"> {% endif %}
            <div class="col-xs-3">
              <label>
                <input type="checkbox" name={{genre}}> {{genre}}
              </label>
            </div>
            {% if idx%4==3 or idx==42 %} </div>  {% endif %}
        {% endfor %}
      </div>


    </form>
  </div>

<!-- Manually input your tastes -->
  <div id="page-wrap">
    <form method="POST"  action="{{ url_for('index') }}">
    <center> Or, select a few anime here to generate recommendations (ratings optional)  </center>
      <div id="anime-list">
        <div class="input-group" class="form-control" name="anime-element" id="anime-element">


          <!-- Anime name -->
          <span class="input-group-addon">Anime name:</span>
          <!-- <select  class="form-control" id="select" name="anime">
            {% for name,id in names_ids %}  
              <option data-value={{id}}> {{name}} </option>
            {% endfor %}
          </select> -->
          <input list="anime" class="form-control" name="anime" style="width:454.5px">
            <datalist id="anime" >
              {% for name,id in names_ids %}  
                <option data-value={{id}}> {{name}} </option>
              {% endfor %}
            </datalist>
          </input>
          

          <!-- Anime rating -->
          <span class="btn-group" class="form-control">
            <select  class="form-control" id="select" name="rating">
              {% for i in ['1','2','3','4','5','6','7','8','9','10'] %}
                {% if i=='1' %} 
                  <option value={{i}}> {{i+' star'}} </option>
                {% else %}  
                  <option value={{i}}> {{i+' stars'}} </option>
                {% endif %}
              {% endfor %}
            </select>
          </span>


        </div>
      </div>

      <!-- Buttons -->
      <button class="btn btn-default" type="submit">Submit</button>
      <button class="btn btn-default" type ="button" onclick="newAnimeElement()" >Add anime</button>

      <!-- Master Filters -->
      <div class="checkbox">
        <div class="row">
          <div class="col-xs-4">
            <label>
              <input type="checkbox" name="genre" id="genre_filter2"> Filter by genre
            </label>
          </div>
          <div class="col-xs-8" align=right>
            <label>
              <input type="checkbox" name="related" id="related"> Filter related anime
            </label>
          </div>
        </div>
      </div>
      <!-- Genre Filters -->
      <div id="genre_filter2_div" style="display:none"> 
        {% for idx,genre in genres %}
            {% if idx%4==0 %} <div class="row"> {% endif %}
            <div class="col-xs-3">
              <label>
                <input type="checkbox" name={{genre}}> {{genre}}
              </label>
            </div>
            {% if idx%4==3 or idx==42 %} </div>  {% endif %}
        {% endfor %}
      </div>


    </form>
    <p/><p/>
  </div>
  {% else %}
  <!-- Display all results -->
  <div id="page-wrap">
    {% for idx,image,url,name,contributors in results %}
      {% if idx%3==0 %}
        <div class="row">
      {% endif %}
			  <div class="col-xs-4">
          <center>
              <div class="hover-parent">
              <a href={{url}}>
                <span title="{{name}}"/>
			            <img src={{image}} align="middle" width=180  height=248 />
                </span>
              </a>
                <div class="row hover-content">
                  <span> Because you liked: </span>
                  <br margin=1px />
                  {% for cont_image,cont_name in contributors %}
                      <span title="{{cont_name}}"/>
		                    <img src={{cont_image}} align="middle" width=58  height=80 />
                      </span>
                  {% endfor %}
                </div>
              </div>
            </center>
            <p/>
        </div>
      {% if idx%3==2 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <p/><p/>
  {% endif %}



  <div id="bg">
    <img src="static/images/anime_collage(dinocojv)-washed.jpg">
  </div>
</body>


<script>
function newAnimeElement() {
    var itm = document.getElementById("anime-element");
    var cln = itm.cloneNode(true);
    document.getElementById("anime-list").appendChild(cln);
}
</script>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
$('#genre_filter').change(function(){
  if (this.checked) {
    $('#genre_filter_div').show();
  } else {
    $('#genre_filter_div').hide();
  }                   
});
</script>
<script type="text/javascript">
$('#genre_filter2').change(function(){
  if (this.checked) {
    $('#genre_filter2_div').show();
  } else {
    $('#genre_filter2_div').hide();
  }                   
});
</script>

</html>

